*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;  
}
.container
{
    border: 1px solid;
    background-color:#fef3e2;
}

.header
{
    height:60px;
    width:100%;
    background-color:#bec6a0;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    border: 1px solid;
    
}
.header .list
{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
}
.header .list .list-item a
{
    color: white;
    text-decoration: none;
}
.p
{
    display: flex;
}
del
{
    margin-top:7px;
    margin-left:5px;
}
.p p i{
    margin-left:8px;
    color: #b5c18e;
}
.price
{
    display: flex;
}
.one h1
{
    text-align: center;
}
.one p
{
    text-align: center;
    color:#545a40;


}
.part1
{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card
{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 15px;

}
.card img{
    height: 150px;
}
.atomic
{
    background-color: #708871;
    width: 100px;
    text-align: center;
    color:white ;
    border-radius:8px ;
    margin-top:3px;
}
.Essential
{
    background-color: #d6bd98;
    width: 100px;
    text-align: center;
    color:rgba(0, 0, 0, 0.87) ;
    border-radius:8px ;
    margin-top:3px;

}
.card   h3
{
    color:#677d6a;
}
.header .list .list-item a:hover
{
    border-bottom:  3px solid white ;
    transition:0.5s ;
}


@media  (max-width:450px)
{
    .container .header
    {
        font-size: 15px;
    }
}
